.avatar-1 {
  width: 472.6px;
  height: 472.6px;
}

.avatar {
  width: 482.9px;
  height: 482.9px;
}

.back {
  width: 477.175px;
  height: 477.175px;
}

.book {
  width: 485.5px;
  height: 485.5px;
}

.cancel {
  width: 475.2px;
  height: 475.2px;
}

.chat-1 {
  width: 477.6px;
  height: 477.6px;
}

.chat-2 {
  width: 473px;
  height: 473px;
}

.chat {
  width: 477.5px;
  height: 477.5px;
}

.copy {
  width: 488.3px;
  height: 488.3px;
}

.dislike {
  width: 478.174px;
  height: 478.174px;
}

.download-1 {
  width: 471.2px;
  height: 471.2px;
}

.download {
  width: 479px;
  height: 479px;
}

.edit {
  width: 469.331px;
  height: 469.331px;
}

.envelope {
  width: 483.3px;
  height: 483.3px;
}

.folder {
  width: 481.2px;
  height: 481.2px;
}

.garbage {
  width: 486.4px;
  height: 486.4px;
}

.glasses {
  width: 487.803px;
  height: 487.803px;
}

.hand {
  width: 467.5px;
  height: 467.5px;
}

.headphones {
  width: 467.2px;
  height: 467.2px;
}

.heart {
  width: 471.701px;
  height: 471.701px;
}

.house {
  width: 486.196px;
  height: 486.196px;
}

.like {
  width: 478.2px;
  height: 478.2px;
}

.link {
  width: 482.8px;
  height: 482.8px;
}

.logout {
  width: 471.2px;
  height: 471.2px;
}

.magnifying-glass {
  width: 451px;
  height: 451px;
}

.monitor {
  width: 481.6px;
  height: 481.6px;
}

.musical-note {
  width: 477.216px;
  height: 477.216px;
}

.next-1 {
  width: 477.175px;
  height: 477.175px;
}

.next {
  width: 487.958px;
  height: 487.958px;
}

.padlock {
  width: 482.8px;
  height: 482.8px;
}

.paper-plane {
  width: 469.038px;
  height: 469.038px;
}

.phone-call {
  width: 473.806px;
  height: 473.806px;
}

.photo-camera {
  width: 487.7px;
  height: 487.7px;
}

.pie-chart {
  width: 476.3px;
  height: 476.3px;
}

.piggy-bank {
  width: 487.602px;
  height: 487.602px;
}

.placeholder {
  width: 477px;
  height: 477px;
}

.printer {
  width: 482.5px;
  height: 482.5px;
}

.reload {
  width: 489.711px;
  height: 489.711px;
}

.settings-1 {
  width: 480.3px;
  height: 480.3px;
}

.settings {
  width: 478.703px;
  height: 478.703px;
}

.share {
  width: 481.6px;
  height: 481.6px;
}

.shopping-bag {
  width: 489px;
  height: 489px;
}

.shopping-cart {
  width: 486.569px;
  height: 486.569px;
}

.shuffle {
  width: 471.475px;
  height: 471.475px;
}

.speaker {
  width: 485px;
  height: 485px;
}

.star {
  width: 487.222px;
  height: 487.222px;
}

.tag {
  width: 487.85px;
  height: 487.85px;
}

.upload-1 {
  width: 471.2px;
  height: 471.2px;
}

.upload {
  width: 486.3px;
  height: 486.3px;
}

.vector {
  width: 487.8px;
  height: 487.8px;
}

